In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = {
    'Yil':        [2021, 2020, 2019, 2018, 2017, 2016, 2010],
    'Aholi soni': [33.9, 33.5, 32.9, 31.9, 31.4, 30.9, 28.5],
    'Temp':       [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.53],
    'Zichlik':    [79.77, 78.68, 77.53, 76.34, 75.13, 73.91, 72.71],
}
df = pd.DataFrame(data)

In [ ]:
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        31.9  1.62    76.34
4  2017        31.4  1.65    75.13
5  2016        30.9  1.66    73.91
6  2010        28.5  1.53    72.71

In [ ]:
df.index=[21,20,19,18,17,16,10] #index qismini qaytadan nomlavomza

In [ ]:
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        31.9  1.62    76.34
17  2017        31.4  1.65    75.13
16  2016        30.9  1.66    73.91
10  2010        28.5  1.53    72.71

In [ ]:
#reindex qaytandan tartiblash
ind=[21,20,19,18,17,16,15,10]
ind.sort()
df.reindex(ind)

       Yil  Aholi soni  Temp  Zichlik
10  2010.0        28.5  1.53    72.71
15     NaN         NaN   NaN      NaN
16  2016.0        30.9  1.66    73.91
17  2017.0        31.4  1.65    75.13
18  2018.0        31.9  1.62    76.34
19  2019.0        32.9  1.56    77.53
20  2020.0        33.5  1.48    78.68
21  2021.0        33.9  1.54    79.77

In [ ]:
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        31.9  1.62    76.34
17  2017        31.4  1.65    75.13
16  2016        30.9  1.66    73.91
10  2010        28.5  1.53    72.71

In [ ]:
df.reindex([10,15,20]) #chaqirgna indeksimizgina malumoti chiqadi

       Yil  Aholi soni  Temp  Zichlik
10  2010.0        28.5  1.53    72.71
15     NaN         NaN   NaN      NaN
20  2020.0        33.5  1.48    78.68

In [ ]:
df.reindex(index=range(10,22),method='nearest') #indekslardagi Nan qiymatlarni eng yaqin qiymati bor indeks qiymati bn bir xillashtiradi

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    72.71
11  2010        28.5  1.53    72.71
12  2010        28.5  1.53    72.71
13  2016        30.9  1.66    73.91
14  2016        30.9  1.66    73.91
15  2016        30.9  1.66    73.91
16  2016        30.9  1.66    73.91
17  2017        31.4  1.65    75.13
18  2018        31.9  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [ ]:
df.reindex(index=range(10,22), method = 'ffill') #bu method nanlarni orniga  ozidan 1ta oldingi indeksnj bor qiymatini yozadi

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    72.71
11  2016        30.9  1.66    73.91
12  2016        30.9  1.66    73.91
13  2016        30.9  1.66    73.91
14  2016        30.9  1.66    73.91
15  2016        30.9  1.66    73.91
16  2016        30.9  1.66    73.91
17  2017        31.4  1.65    75.13
18  2018        31.9  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [ ]:
df2=df.reindex(columns=['Aholi soni','Temp','Zichlik']) #kerakli columlarni chaqirish

In [ ]:
df2.head()

    Aholi soni  Temp  Zichlik
21        33.9  1.54    79.77
20        33.5  1.48    78.68
19        32.9  1.56    77.53
18        31.9  1.62    76.34
17        31.4  1.65    75.13

In [ ]:
df2.sample() #df2 dan tasodiy qiymat chqaradi

    Aholi soni  Temp  Zichlik
16        30.9  1.66    73.91

In [ ]:
df2.loc[[10,18,20],['Aholi soni','Temp','Zichlik']]

    Aholi soni  Temp  Zichlik
10        28.5  1.53    72.71
18        31.9  1.62    76.34
20        33.5  1.48    78.68

In [ ]:
df2=df.drop(10) #indexs tashlab yuborish
df2

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        31.9  1.62    76.34
17  2017        31.4  1.65    75.13
16  2016        30.9  1.66    73.91

In [ ]:
df.drop([16,19])

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
18  2018        31.9  1.62    76.34
17  2017        31.4  1.65    75.13
10  2010        28.5  1.53    72.71

In [ ]:
df.drop('Yil', axis=1) #axis1 ustundagi nom  boyicha tashlab yuborish

    Aholi soni  Temp  Zichlik
21        33.9  1.54    79.77
20        33.5  1.48    78.68
19        32.9  1.56    77.53
18        31.9  1.62    76.34
17        31.4  1.65    75.13
16        30.9  1.66    73.91
10        28.5  1.53    72.71

In [ ]:
df.drop

<bound method DataFrame.drop of      Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        31.9  1.62    76.34
17  2017        31.4  1.65    75.13
16  2016        30.9  1.66    73.91
10  2010        28.5  1.53    72.71>

In [ ]:
df.drop('Yil',axis='columns',inplace=True) #df ozgargan qiymatani asl dataframega  saqlaydi